.todo-container{
  width: 600px;
  margin:30px auto 0;
  background-color:#f6F6F6;

  .add-task{
    padding: 15px;
    background-color: #009688;
    position: relative;
    input{
      display: inline-block;
      padding:10px 15px;
      border: none;
      background-color:rgba(255, 255, 255, .3);
      width:calc(100% - 15px);
      color: white;
      &:focus{
        outline: none;

      }
    }
    .plus{
      position: absolute;
      height:43px;
      width:43px;
      background-color:#FFF;
      right: 12px;
      border-radius:50%;
      line-height: 33px;
      text-align: center;
      color:#009688;
      cursor: pointer;
      font-size: 38px;
      transition:transform .3s;
      &:hover{
        transform: rotate(90deg);
      }
    }
  }
  .tasks-content{
    padding: 15px;
    > span{
      display: block;
      background-color:#FFF;
      font-size:15px;
      padding:10px; 
      &:not(:last-child){
        margin-bottom: 10px ;
      }
    }
    .task-box{
      &.finished{
        text-decoration: line-through;
      }
    }
    .no-tasks-message{
      color: #777;
    }
    .delete{
      float: right;
      background-color:#E91E63;
      padding: 4px 10px;
      color:#FFF;
      font-size:12px;
      font-weight:bold;
      border-radius:4px;
      cursor: pointer;
    }
  }
}

.task-stats{
  display: flex;
  justify-content: space-between;
  margin:10px auto;
  width:600px;
  font-size:12px;
  div{
    padding: 10px;
    span{
      color:#FFF;
      padding:1px 5px;
      font-size:10px;
      border-radius: 4px;
      font-weight: bold;
    }
  }
  .tasks-count{
    span{
      background-color:#E91E63;
    }
  }
  .tasks-completed{
    span{
      background-color:#03A9F4;
    }
  }
}

